{% extends 'base.html.twig' %}

{% block body %}
    <h2 class='page-header'>Add past stadium sudo nano /etc/apache2/sites-enabled/001-cloud9.confinfo</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% endblock %}